/* Change html headers color */
h1,h2,h3,h4,h5 {
    color:#0071bc;
}
h2.mc-text-danger,
h3.mc-text-danger  {
    color:red;
}

html, body {
	height: 95%;
}

#login-container {
	height: 100%;
   position: relative;
}

#login-elements {
	margin:0;
	position: absolute;
	top: 55%;
	transform: translate(0, -50%);
}

#logo-div {
	margin-top: 20px;
	margin-bottom: 20px;
}

#login-div {
	margin-top: 60px;
}

/* Change border radius of icon buttons */
.ui-btn-icon-notext.ui-corner-all {
    -webkit-border-radius: .3125em;
    border-radius: .3125em;
}
/* Change color of jQuery Mobile page headers */
.ui-title {
    color:#fff;
}
/* Center-aligned text */
.mc-text-center {
    text-align:center;
}
/* Top margin for some elements */
.mc-top-margin-1-5 {
    margin-top:1.5em;
}